<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artemis</title>
    
    <link rel="stylesheet" href="projects.css">
    <link rel="stylesheet" href="stylecCI.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto:wght@100&display=swap');
    </style>
<body>
    {{>header}} 
    <div class="a">
    <div class="TandA">
        <div class="title">
            <p>Beyond<br>
            what<br>
            you<br>
            see</p>           
        </div>
        <div class="loginBut" >
            <button onclick="window.location.href='/login'" style="font-size: 20px;">Signup</button>
        </div>
        
        <!-- <div class="arrows">
            <div>
                <button class="arrbtnLeft" style="background-color: white;">
                    <span class="material-icons" style="margin-top: 2px;margin-left: -2px; color: black; ">
                        arrow_back
                        </span>
                </button>
            </div>
            <div>
                <button class="arrbtnRight" style="background-color: white;">
                    <span class="material-icons" style="margin-top: 2px;margin-left: -2px; color: black;">
                        arrow_forward
                    </span>
                </button>
            </div>
        </div> -->
        
        <!-- <div class="pgnum">01 / 05</div> -->
    </div>
    <div class="main_image">
        <img src="./Artemis/Main Page/pexels-medhat-ayad-447592.jpg" alt="">
    </div> 
    
    </div>

    <div class="countSec">
        <div class="cs1">
            <div class="count">86</div>
            <div class="count">49</div>
            <div class="count">142</div>
        </div>
        <div class="cs2">
            <div class="countText">Happy Customers</div>
            <div class="countText">Number of projects</div>
            <div class="countText">Hours Worked</div>
        </div>  
    </div>



    <div class="sec">
        <img src="./Artemis/Main Page/Interior-Minimalismus-MENU-9-1024x727.jpg">
        <div class="secText">
            <section class="head" style="margin-top: 10%;">
                About
            </section>
            <section style="font-size: larger; margin-bottom: 10%;">
                <b>"The details are not the details, they make the design."</b><br>
                We are passionate, knowing that people live, work, play and inhabit the spaces and places we imagine and envision for our clients.
            </section>
        </div>
    </div>

        <div class="p1"> Our Main Focus</div>      
        <div class="c">
            <div class="c1">
                <div class="c11">1</div>
            <div class="c111"><p>Providing a sense of physical and visual comfort through our designs, which is vital to every home</p></div>
           </div>
           <div class="c2">
            <div class="c21"> 2</div>
        <div class="c211"><p>Providing a sense of physical and visual comfort through our designs, which is vital to every home</p></div>       
       </div>
        </div>
        <div class="p1">Our Projects</div>

        <div class="d">
            <div class="d1">
           <img src="./Artemis/Main Page/pexels-vecislavas-popa-1668860.jpg" alt="">
           <div class="inside">
            <div class="insideText">
                Sample <br>Projects
                
                <a href="projects"><button style="height: 2em;padding: 0;width: 90px;margin-left: 0;margin-top: 20px;background-color: black;border: 1.5px solid white;">View More</button></a>
            </div>
        </div>
            </div>

            <div class="d2">
            <img src="./Artemis/Main Page/shutterstock_631879034.jpg" alt="">
            </div>
        </div>

        <div class="e">
            <div class="e1">
           <img src="./Artemis/Main Page/shutterstock_627788162.jpg" alt="">
            </div>

            <div class="e2">
            <img src="./Artemis/Main Page/pexels-houzlook-com-3797991.jpg" alt="">
            </div>
            <div class="e3">
                <img src="./Artemis/Main Page/sputnik-led-chandelier.jpg" alt="">
            </div>
        </div>


</div>
{{>footer}}
    <script src="home.js"></script>
</body>
</html>