<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artemis</title>
    <link rel="stylesheet" href="ourTeam.css" />
    <link rel="stylesheet" href="style.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto:wght@100&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto:wght@100&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
  </style>
  <body>
    {{>header}}
    <div class="photoText">
      <p>Our</p>
      <p>Team</p>
    </div>

    <div class="photos">
      <div class="photo">
        <img src="./Artemis/our team/2.jpg" />
        <div class="names">Suyash Bagul</div>
      </div>
      <div class="photo">
        <img src="./Artemis/our team/1.jpg" />
        <div class="names">Harshita Nauhwar</div>
      </div>
      <div class="photo">
        <img src="./Artemis/our team/3.jpg" />
        <div class="names">Karan Singh Patrick</div>
      </div>
    </div>

    {{>footer}}
    <script src="home.js"></script>
  </body>
</html>
