<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artemis</title>
    <link rel="stylesheet" href="photoGallery.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto:wght@100&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
  </style>
  <body>
    {{>header}}
       <div class="photoText">
      <p>Photo</p>
      <p>Gallery</p>
    </div>

    <div class="photos">
      <div class="photo">
        <img src="/Artemis/Photo Gallery/656e8903dbe84162fcda3b.jpg" />
        <div class="inside">
          <div class="insideText">BLACK & WHITE</div>
        </div>
      </div>
      <div class="photo">
        <img src="Artemis/Photo Gallery/6bc69f03dbe84162fd1624.jpg" />
        <div class="inside">
          <div class="insideText">THE ARK</div>
        </div>
      </div>
      <div class="photo">
        <img src="Artemis/Photo Gallery/7f25cc0c32fa4c945720e6.jpg" />
        <div class="inside">
          <div class="insideText">BLACK & YELLOW</div>
        </div>
      </div>
      <div class="photo">
        <img
          src="Artemis/Photo Gallery/alexandra-gorn-W5dsm9n6e3g-unsplash.jpg"
        />
        <div class="inside">
          <div class="insideText">THE GREENS</div>
        </div>
      </div>
      <div class="photo">
        <img src="Artemis/Photo Gallery/jason-wang-5MG8cQbw-T8-unsplash.jpg" />
        <div class="inside">
          <div class="insideText">MINIMAL <br />CONCEPT</div>
        </div>
      </div>
      <div class="photo">
        <img src="Artemis/Photo Gallery/kam-idris-hYb7kbu4x7E-unsplash.jpg" />
        <div class="inside">
          <div class="insideText">BOLD DREAMS</div>
        </div>
      </div>
      <div class="photo">
        <img
          src="/Artemis/Photo Gallery/roberto-nickson-rEJxpBskj3Q-unsplash.jpg"
        />
        <div class="inside">
          <div class="insideText">UPSTATE</div>
        </div>
      </div>
      <div class="photo">
        <img src="Artemis/Photo Gallery/spacejoy-h2_3dL9yLpU-unsplash.jpg" />
        <div class="inside">
          <div class="insideText">REFLECTION</div>
        </div>
      </div>
      <div class="photo">
        <img src="Artemis/Photo Gallery/spacejoy-kz_xZG9ufbk-unsplash.jpg" />
        <div class="inside">
          <div class="insideText">
            VINTAGE <br />
            BLUE
          </div>
        </div>
      </div>
      <div class="photo">
        <img
          src="Artemis/Photo Gallery/tomas-jasovsky-d5SZqLkpIrY-unsplash.jpg"
        />
        <div class="inside">
          <div class="insideText">
            ALL OF THE <br />
            LIGHTS
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
    <script src="home.js"></script>
  </body>
</html>
