<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artemis</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="project123.css" />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Roboto:wght@100&display=swap");
  </style>
  <body>
    {{>header}}
    <div class="photoText">
      <p>{{heading1}}</p>
      <p>{{heading2}}</p>
    </div>

    <div class="sec">
      <img src="/Artemis/Our Projects/spacejoy-io5Tvjh7vCc-unsplash.jpg" />
    </div>

    <div class="sec sec2">
      <img src="/Artemis/Project 1/r-architecture-TRCJ-87Yoh0-unsplash.jpg" />
      <div class="secText">
        <section>
          Designed to provide comfort and a liveliness to a home while staying
          connected to the earthly and aesthetic tones. Designed to provide
          comfort and a liveliness to a home while staying connected to the
          earthly and aesthetic tones. Designed to provide comfort and a
          liveliness to a home while staying connected to the earthly and
          aesthetic tones. Designed to provide comfort and a liveliness to a
          home while staying connected to the earthly and aesthetic tones.

          <br /><br />Designed to provide comfort and a liveliness to a home
          while staying connected to the earthly and aesthetic tones. Designed
          to provide comfort and a liveliness to a home while staying connected
          to the earthly and aesthetic tones. Designed to provide comfort and a
          liveliness to a home while staying connected to the earthly and
          aesthetic tones. Designed to provide comfort and a liveliness to a
          home while staying connected to the earthly and aesthetic tones.
        </section>
      </div>
    </div>

    <div class="sec">
      <img src="/Artemis/Project 1/jason-briscoe-UV81E0oXXWQ-unsplash.jpg" />
    </div>
    {{>footer}}
    <script src="home.js"></script>
  </body>
</html>
